# Kaggle API keys
kaggle.json

# Python 가상 환경 폴더
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook
.ipynb_checkpoints

# 로컬 설정 파일
*.sqlite3
*.pyc

# Django secret key 파일
*.secret

# 로그 파일
*.log

# 미디어 파일
media/

# 정적 파일
static/

# 데이터베이스 백업 파일
*.bak
