<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Finder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container" id="arm_male">
        <h1>팔 (남성)</h1>
        <img src="{% static 'image.file/arm.png' %}" alt="arm_male" style="height:300px; width: auto;">
        <button class="camera-button" onclick="nextScreen('upload')">📷</button>
        <button class="prev-button" onclick="location.href='/finder/armhospitalsearch'">이동</button>
        <button class="prev-button grey-button" onclick="location.href='/finder'">이전으로</button>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>