body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
}


.progress-bar {
    width: 100%;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    height: 8px;
    background: #44bcae;
}

h1{
    margin: 10px 0;
    font-size: 25px;
}

img {
    width: 220px;
    height: auto;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

select, input[type="date"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.symptoms {
    text-align: left;
}

.symptoms div {
    display: flex;
    align-items: center;
}

.symptoms label {
    margin-left: 10px;
}

.feedback span {
    font-size: 2em;
    margin: 0 10px;
    cursor: pointer;
}

button {
    background-color: #44bcae;
    color: white;

}

button:nth-of-type(2) {
    background-color: #ccc;
    color: black;

}

.camera-button {
    
    right: 20px;
    bottom: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.prev-button {
    margin-top: 20px;
}



.symptoms {
    text-align: left;
}

.symptom-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.symptom-item {
    display: flex;
    align-items: center;
}

.symptom-item label {
    margin-left: 5px;
}